<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Default Description" />
    <meta name="keywords" content="Magento, Varien, E-commerce" />
    <meta name="robots" content="INDEX,FOLLOW" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@


    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700&ampsubset=latin,cyrillic-ext' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/Content/css/calendar-win2k-1.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.bxslider.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/photoswipe.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/extra_style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/responsive.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/superfish.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/camera.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/widgets.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/ajaxsearch.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.multiselect.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/prettify.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/cloud-zoom.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/catalogsale.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/ajaxlogin.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/css/print.css" media="print" />
    <link href="/Content/css/CusWeb.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/default.css" type="text/css" />


    <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-71594023-1', 'auto');
            ga('send', 'pageview');

    </script>

</head>
<body class="ps-static  cms-index-index cms-home">
    <div class="wrapper en-lang-class">

        <div class="page">
            <div class="shadow"></div>
            <div class="swipe-left"></div>
            @*Menu Hidden*@
            <div class="swipe">
                <div class="swipe-menu">
                    <a href="http://livedemo00.template-help.com/magento_53173/" title="Home" class="home-link">Home</a>
                    <ul class="links">
                        <li class="first"><a href="http://livedemo00.template-help.com/magento_53173/customer/account/" title="My Account">My Account</a></li>
                        <li><a href="http://livedemo00.template-help.com/magento_53173/wishlist/" title="My Wishlist">My Wishlist</a></li>
                        <li><a href="http://livedemo00.template-help.com/magento_53173/checkout/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
                        <li><a href="http://livedemo00.template-help.com/magento_53173/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
                        <li class="top-link-blog"><a href="http://livedemo00.template-help.com/magento_53173/blog/" title="Blog">Blog</a></li>
                        <li class=" last"><a href="http://livedemo00.template-help.com/magento_53173/customer/account/login/" title="Log In">Log In</a></li>
                    </ul>


                    <div class="language-list switch-show">
                        <div class="language-title"><span class="label">Your Language:</span> <strong>en</strong></div>
                        <ul>
                            <li>
                                <a class="selected" href="http://livedemo00.template-help.com/magento_53173/?___store=english&amp;___from_store=english" title="en_US">   <strong>en</strong></a>
                            </li>
                            <li>
                                <a href="http://livedemo00.template-help.com/magento_53173/?___store=german&amp;___from_store=english" title="de_DE">   <strong>de</strong></a>
                            </li>
                            <li>
                                <a href="http://livedemo00.template-help.com/magento_53173/?___store=spanish&amp;___from_store=english" title="es_ES">   <strong>es</strong></a>
                            </li>
                            <li>
                                <a href="http://livedemo00.template-help.com/magento_53173/?___store=russian&amp;___from_store=english" title="ru_RU">   <strong>ru</strong></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-links-menu">
                        <ul>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/about-magento-demo-store">About Us</a></li>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/customer-service">Customer Service</a></li>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/template-settings">Template Settings</a></li>
                            <li class="last privacy"><a href="http://livedemo00.template-help.com/magento_53173/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                        </ul>
                        <ul class="links-2">
                            <li class="first"><a href="http://livedemo00.template-help.com/magento_53173/catalog/seo_sitemap/product/">Product Sitemap</a></li>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/catalog/seo_sitemap/category/">Category Sitemap</a></li>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/catalogsearch/advanced/">Advanced Search</a></li>
                            <li><a href="http://livedemo00.template-help.com/magento_53173/sales/guest/form/">Orders and Returns</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="top-icon-menu">
                <div class="swipe-control"><i class="fa fa-align-justify"></i></div>
                <div class="top-search"><i class="fa fa-search"></i></div>
                <span class="clear"></span>
            </div>
            @*End Menu Hidden*@

            @*Header*@
            <div class="header-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header">
                                <h1 class="logo"><strong>Magento Commerce</strong><a href="#" title="Magento Commerce" class="logo"><img src="http://livedemo00.template-help.com/magento_53173/skin/frontend/default/theme694/images/logo.gif" alt="Magento Commerce" /></a></h1>

                                <div class="clear"></div>
                                <div class="quick-access">
                                    <ul class="links">
                                        <li class="first"><a href="http://livedemo00.template-help.com/magento_53173/customer/account/" title="My Account">My Account</a></li>
                                        <li><a href="http://livedemo00.template-help.com/magento_53173/wishlist/" title="My Wishlist">My Wishlist</a></li>
                                        <li><a href="http://livedemo00.template-help.com/magento_53173/checkout/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
                                        <li><a href="http://livedemo00.template-help.com/magento_53173/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
                                        <li class="top-link-blog"><a href="http://livedemo00.template-help.com/magento_53173/blog/" title="Blog">Blog</a></li>
                                        <li class=" last"><a href="http://livedemo00.template-help.com/magento_53173/customer/account/login/" title="Log In">Log In</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            @*End Header*@

            @*Menu Ho*@
            <div class="nav-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sf-menu-block">
                                <div id="menu-icon" class="menu-icon-style">Categories</div>

                                <ul class="sf-menu-phone">
                                    <li class="level0 nav-1 first level-top"><a href="http://livedemo00.template-help.com/magento_53173/audiobooks.html" class="level-top"><span>Audiobooks</span></a></li>
                                    <li class="level0 nav-2 level-top parent"><a href="http://livedemo00.template-help.com/magento_53173/books.html" class="level-top"><span>Books</span></a><ul class="level0"><li class="level1 nav-2-1 first"><a href="http://livedemo00.template-help.com/magento_53173/books/arts-photography.html"><span>Arts &amp; Photography</span></a></li><li class="level1 nav-2-2"><a href="http://livedemo00.template-help.com/magento_53173/books/cooking-food-wine.html"><span>Cooking, Food &amp; Wine</span></a></li><li class="level1 nav-2-3"><a href="http://livedemo00.template-help.com/magento_53173/books/literature-fiction.html"><span>Literature &amp; Fiction</span></a></li><li class="level1 nav-2-4 last"><a href="http://livedemo00.template-help.com/magento_53173/books/science-education.html"><span>Science &amp; education</span></a></li></ul></li>
                                    <li class="level0 nav-3 level-top"><a href="http://livedemo00.template-help.com/magento_53173/businness.html" class="level-top"><span>Business</span></a></li>
                                    <li class="level0 nav-4 level-top"><a href="http://livedemo00.template-help.com/magento_53173/childrens.html" class="level-top"><span>Children's</span></a></li>
                                    <li class="level0 nav-5 last level-top"><a href="http://livedemo00.template-help.com/magento_53173/used-out-of-print.html" class="level-top"><span>Used &amp; out of print</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            @*End Menu Ho*@



            @*Slide*@

            <script>
                jQuery(function () {
                    jQuery('#camera_wrap').camera({
                        alignmen: 'topCenter',
                        height: '29.16%',
                        minHeight: '100px',
                        loader: false,
                        navigation: true,
                        fx: 'simpleFade',
                        navigationHover: false,
                        thumbnails: false,
                        playPause: false,
                        pagination: false,
                    });
                });
            </script>

            <div class="fluid_container_wrap">
                <div class="fluid_container">
                    <div class="camera_wrap camera_orange_skin" id="camera_wrap">
                        <div data-src="/img/slide1.jpg" data-link="http://livedemo00.template-help.com/magento_53173/audiobooks.html"></div>
                        <div data-src="/img/slide2.jpg" data-link="http://livedemo00.template-help.com/magento_53173/businness.html"></div>
                        <div data-src="/img/slide3.jpg" data-link="http://livedemo00.template-help.com/magento_53173/childrens.html"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            @*End Slide*@



            @*Type New*@
            <div class="row-cat">
                <div class="container">
                    <ul class="row">
                        <li class="col-sm-4">
                            <a href="#">
                                <div class="row-cont cusrowcont">
                                    <div class="row-title cusrowtitle">Vấn Đề Về Mũi<br /></div>
                                    <div class="row-desc">Mũi là một phần của hệ thống hô hấp: hít vào oxy và thải ra carbon dioxide. Hoạt động như một tác nhân trung gian giữa cơ thể và thế giới bên ngoài, mũi và các cấu trúc liên quan thường xuyên thực hiện các chức năng bổ sung có liên quan với điều hòa không khí vào</div>

                                </div>
                            </a>
                        </li>
                        <li class="col-sm-4 color-1">
                            <a href="http://livedemo00.template-help.com/magento_53173/businness.html">
                                <div class="row-cont cusrowcont">

                                    <div class="row-title cusrowtitle">Vấn Đề Về Tai<br /> </div>
                                    <div class="row-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</div>

                                </div>
                            </a>
                        </li>
                        <li class="col-sm-4 color-2">
                            <a href="http://livedemo00.template-help.com/magento_53173/childrens.html">
                                <div class="row-cont cusrowcont">

                                    <div class="row-title cusrowtitle">Vấn Đề Về Họng</div>

                                    <div class="row-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</div>


                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @*End Type New*@

            @*Content*@
            <div class="main-container col2-left-layout">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12">

                            <div class="main">

                                <div class="row">

                                    <div class="col-main col-xs-12 col-sm-9">

                                        <div class="padding-s">



                                            <div id="messages_product_view">
                                            </div>
                                            <div class="page-title category-title">
                                                <h2>Tin Tức</h2>
                                            </div>
                                            <div class="toolbar">
                                                <div class="pager">
                                                    <p class="amount">
                                                        <strong>4 Item(s)</strong>
                                                    </p>
                                                    <div class="limiter">
                                                        <label>Show</label>
                                                        <select onchange=" setLocation(this.value) ">
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?limit=10">
                                                                10
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="sorter">
                                                    <div class="sort-by">
                                                        <div class="right">
                                                            <a class="fa fa-arrow-up" href="http://livedemo00.template-help.com/magento_53173/blog/?dir=desc&amp;order=created_time" title="Set Descending Direction"> </a>
                                                        </div>
                                                        <label>Sort By</label>
                                                        <select onchange=" setLocation(this.value) ">
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?dir=asc&amp;order=created_time" selected="selected">
                                                                Created At
                                                            </option>
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?dir=asc&amp;order=user">
                                                                Added By
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="blog-list">
                                                <li class="item">
                                                    <div class="postWrapper">
                                                        <div class="postTitle">
                                                            <h2><a href="http://livedemo00.template-help.com/magento_53173/blog/Builder/">Builder truth painful advantage enjoy</a></h2>
                                                        </div>
                                                        <div class="postDetails">
                                                            <span class="postDetails-date"><i class="fa fa-clock-o"></i> 20.02.15</span>
                                                            <span class="postDetails-coment">
                                                                <i class="fa fa-comment-o"></i>
                                                                <a href="http://livedemo00.template-help.com/magento_53173/blog/Builder/#commentBox">
                                                                    0
                                                                </a>
                                                            </span>
                                                            <span class="tags postDetails-tags"></span>
                                                            <span class="postDetails-user">
                                                                <i class="fa fa-user"></i>
                                                                Posted By admin admins
                                                            </span>
                                                        </div>
                                                        <div class="postContent">
                                                            <img style="float: left; margin-right: 20px;" src="http://livedemo00.template-help.com/magento_53173/media/wysiwyg/blog_img/small_4.jpg" alt="" />
                                                            <p>This business template is suited for a corporate, advertising, media, design, hosting, it company, agency, studio etc. but it can easily be used for a personal page or a portfolio.</p>
                                                            <a class="aw-blog-read-more" href="http://livedemo00.template-help.com/magento_53173/blog/Builder/">Xem Thêm</a>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                            <div class="toolbar">
                                                <div class="pager">
                                                    <p class="amount">
                                                        <strong>4 Item(s)</strong>
                                                    </p>
                                                    <div class="limiter">
                                                        <label>Show</label>
                                                        <select onchange=" setLocation(this.value) ">
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?limit=10">
                                                                10
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="sorter">
                                                    <div class="sort-by">
                                                        <div class="right">
                                                            <a class="fa fa-arrow-up" href="http://livedemo00.template-help.com/magento_53173/blog/?dir=desc&amp;order=created_time" title="Set Descending Direction"> </a>
                                                        </div>
                                                        <label>Sort By</label>
                                                        <select onchange=" setLocation(this.value) ">
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?dir=asc&amp;order=created_time" selected="selected">
                                                                Created At
                                                            </option>
                                                            <option value="http://livedemo00.template-help.com/magento_53173/blog/?dir=asc&amp;order=user">
                                                                Added By
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-left sidebar col-xs-12 col-sm-3">
                                        <div class="nav-container block">
                                            <div class="menu-icon-style">Categories</div>
                                            <ul class="sf-menu-phone item">
                                                <li class="level0 nav-1 first level-top">
                                                    <a href="http://livedemo00.template-help.com/magento_53173/audiobooks.html" class="level-top">
                                                        <span>Audiobooks</span>
                                                    </a>
                                                </li>
                                                <li class="level0 nav-2 level-top parent">
                                                    <a href="http://livedemo00.template-help.com/magento_53173/books.html" class="level-top">
                                                        <span>Books</span>

                                                    </a>
                                                    <ul class="level0">


                                                        <li class="level1 nav-2-1 first">
                                                            <a href="http://livedemo00.template-help.com/magento_53173/books/arts-photography.html"><span>Arts &amp; Photography</span></a>
                                                        </li>
                                                        <li class="level1 nav-2-2">
                                                            <a href="http://livedemo00.template-help.com/magento_53173/books/cooking-food-wine.html">
                                                                <span>Cooking, Food &amp; Wine</span>
                                                            </a>

                                                        </li>
                                                        <li class="level1 nav-2-3">
                                                            <a href="http://livedemo00.template-help.com/magento_53173/books/literature-fiction.html">
                                                                <span>Literature &amp; Fiction</span>

                                                            </a>
                                                        </li>
                                                        <li class="level1 nav-2-4 last"><a href="http://livedemo00.template-help.com/magento_53173/books/science-education.html"><span>Science &amp; education</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="level0 nav-3 level-top">
                                                    <a href="http://livedemo00.template-help.com/magento_53173/businness.html" class="level-top"><span>Business</span></a>
                                                </li>
                                                <li class="level0 nav-4 level-top"><a href="http://livedemo00.template-help.com/magento_53173/childrens.html" class="level-top"><span>Children's</span></a></li>
                                                <li class="level0 nav-5 last level-top"><a href="http://livedemo00.template-help.com/magento_53173/used-out-of-print.html" class="level-top"><span>Used &amp; out of print</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*End Content*@

            @*Footer*@
            <div class="footer-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="footer">
                                <p id="back-top"><a href="#top"><span></span></a> </p>
                                <div class="footer-cols-wrapper">
                                    <div class="footer-col">
                                        <h4>Information</h4>
                                        <div class="footer-col-content">
                                            <ul>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/about-magento-demo-store">About Us</a></li>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/customer-service">Customer Service</a></li>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/template-settings">Template Settings</a></li>
                                                <li class="last privacy"><a href="http://livedemo00.template-help.com/magento_53173/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                                            </ul>								<ul class="links">
                                                <li class="first"><a href="http://livedemo00.template-help.com/magento_53173/catalog/seo_sitemap/category/" title="Site Map">Site Map</a></li>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/catalogsearch/term/popular/" title="Search Terms">Search Terms</a></li>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/catalogsearch/advanced/" title="Advanced Search">Advanced Search</a></li>
                                                <li><a href="http://livedemo00.template-help.com/magento_53173/sales/guest/form/" title="Orders and Returns">Orders and Returns</a></li>
                                                <li class=" last"><a href="http://livedemo00.template-help.com/magento_53173/contacts/" title="Contact Us">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-col cusfootercol">

                                        <div class="footer-col-content">
                                            <div id="fb-root"></div>
                                            <script>
                                                (function (d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0];
                                                    if (d.getElementById(id)) return;
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1451210995153249";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }(document, 'script', 'facebook-jssdk'));
                                            </script>
                                            <div class="fb-page" data-href="https://www.facebook.com/bacsihaohon/?ref=hl" data-width="1400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                <div class="fb-xfbml-parse-ignore">
                                                    <blockquote cite="https://www.facebook.com/bacsihaohon/?ref=hl">
                                                        <a href="https://www.facebook.com/bacsihaohon/?ref=hl">
                                                            Phòng khám Tai Mũi Họng Bác Sĩ Nguyễn Minh Hảo Hớn

                                                        </a>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <div class="footer-bottom">
                                    <address>
                                        &copy;
                                        <script type="text/javascript">
                                            var mdate = new Date();
                                            document.write(mdate.getFullYear());
                                        </script> Magento Demo Store. All Rights Reserved.
                                    </address>
                                    <div class="clear"></div>
                                    <!--{%FOOTER_LINK}-->  							<div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End Footer*@

        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)*@
    <script type="text/javascript" src="/Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery_noconflict.js"></script>
    <script type="text/javascript" src="/Content/js/prototype.js"></script>
    <script type="text/javascript" src="/Content/js/ccard.js"></script>
    <script type="text/javascript" src="/Content/js/validation.js"></script>
    <script type="text/javascript" src="/Content/js/builder.js"></script>
    <script type="text/javascript" src="/Content/js/effects.js"></script>
    <script type="text/javascript" src="/Content/js/dragdrop.js"></script>
    <script type="text/javascript" src="/Content/js/controls.js"></script>
    <script type="text/javascript" src="/Content/js/slider.js"></script>
    <script type="text/javascript" src="/Content/js/js.js"></script>
    <script type="text/javascript" src="/Content/js/form.js"></script>
    <script type="text/javascript" src="/Content/js/translate.js"></script>
    <script type="text/javascript" src="/Content/js/cookies.js"></script>
    <script src="/Content/js/camera.js"> </script>
    <script src="/Content/js/CusWeb.js"></script>
    <script type="text/javascript" src="/Content/js/product.js"></script>
    <script type="text/javascript" src="/Content/js/configurable.js"></script>
    <script type="text/javascript" src="/Content/js/calendar.js"></script>
    <script type="text/javascript" src="/Content/js/calendar-setup.js"></script>
    <script type="text/javascript" src="/Content/js/ajaxsearch.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ul.js"></script>
    <script type="text/javascript" src="/Content/js/prettify.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="/Content/js/cloud-zoom.1.0.2.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.unveil.js"></script>
    <script type="text/javascript" src="/Content/js/cherry-fixed-parallax.js"></script>
    <script type="text/javascript" src="/Content/js/tm-stick-up.js"></script>
    <script type="text/javascript" src="/Content/js/superfish.js"></script>
    <script type="text/javascript" src="/Content/js/scripts.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/Content/js/bundle.js"></script>
    <script type="text/javascript" src="/Content/js/carousel.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui-1-10-4.js"></script>
    <script type="text/javascript" src="/Content/js/ajaxlogin.js"></script>
    <script type="text/javascript" src="/Content/js/msrp.js"></script>
</body>

</html>

