@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
   
}

@section head{

    <meta property="og:title" content="Phòng khám tai mũi họng bác sĩ Nguyễn Minh Hảo Hớn" />

    <meta property="og:url" content="http://phongkhambacsihon.com/" />
    <meta name="description" content="Phòng khám tai mũi họng bác sĩ Nguyễn Minh Hảo Hớn Phòng Khám,Tai mũi họng,Bác sĩ,viêm mũi dị ứng,viêm họng,viêm tai giữa">
    <meta property="og:description" content="Phòng khám tai mũi họng bác sĩ Nguyễn Minh Hảo Hớn Phòng Khám,Tai mũi họng,Bác sĩ,viêm mũi dị ứng,viêm họng,viêm tai giữa" />
    <meta name="keywords" content="Phòng Khám,Tai mũi họng,Bác sĩ,viêm mũi dị ứng,viêm họng,viêm tai giữa" />
    <meta property="og:image" content="http://phongkhambacsihon.com/Content/img/logo-hospital-hi.png" />

}
<div class="col-main col-xs-12 col-sm-9">
    <div class="padding-s">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    <a title="Go to Home Page" href="#">Trang chủ</a>
                    <span>&gt;</span>
                </li>
                <li class="product">
                    <strong>
                        <asp:Label ID="lblName" runat="server" Text="Giới thệu"></asp:Label>
                    </strong>
                </li>
            </ul>
        </div>
        <div id="messages_product_view"></div>

        <div itemtype="http://schema.org/Product" itemscope="" class="product-view">
            <div class="product-essential">


                <div class="product-img-box">
                    <style type="text/css">
                        .cloud-zoom-big {
                            height: 300px !important;
                            width: 300px !important;
                        }
                    </style>
                    <div class="product-box-customs">
                        <p class="product-image">
                            <div style="top: 0px; z-index: 99; position: relative;" id="wrap">
                                <a rel="position:'right',showTitle:1,titleOpacity:0.5,lensOpacity:0.5,adjustX: 10,adjustY:-4,zoomWidth:300,zoomHeight:300" id="zoom1" class="cloud-zoom" href="/Content/img/hinhbs.jpg" style="position: relative; display: block;">

                                    <img title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="/Content/img/hinhbs.jpg" class="big cusimg" style="display: block;">

                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0; z-index: 99; position: absolute; width: 235px; height: 235px; left: 0px; top: 0px; cursor: move;" class="mousetrap"></div>
                            </div>
                            <span></span>
                        </p>
                        <div class="more-views">
                            <h2>More Views</h2>
                            <div class="container-slider">
                                <ul class="slider tumbSlider-none">
                                    <li>
                                        <a rel="useZoom: 'zoom1', smallImage: '/Content/img/hinhbs.jpg' " title="" class="cloud-zoom-gallery" href="/Content/img/hinhbs.jpg">
                                            <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="/Content/img/hinhbs.jpg">
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    </li>
                                    <li>
                                        <a rel="useZoom: 'zoom1', smallImage: '/Content/img/hinhpk.jpg' " title="" class="cloud-zoom-gallery" href="/Content/img/hinhpk.jpg">
                                            <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="/Content/img/hinhpk.jpg">
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="gallery-swipe-content">
                            <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
                                    <ul class="gallery-swipe" id="gallery-swipe" style="width: 315%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                        <li style="float: left; list-style: outside none none; position: relative; width: 100px;">
                                            <a title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" href="/img/hinhbs.jpg">
                                                <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="/img/hinhbs.jpg">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        </li>
                                    </ul>
                                </div>
                                <div class="bx-controls bx-has-controls-direction">
                                    <div class="bx-controls-direction">
                                        <a href="" class="bx-prev disabled">Prev</a>
                                        <a href="" class="bx-next disabled">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-shop">
                    <div class="product-name">
                        <h1 itemprop="name">
                            Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn
                        </h1>
                    </div>



                    <div class="clear"></div>
                    <div class="short-description">
                        <h2>Tóm tắt</h2>
                        <div itemprop="description" class="std">
                            <p style="white-space: pre-line;font-size: 17px;">
                                BS.Nguyễn Minh Hảo Hớn

                                Chuyên khoa: Tai Mũi Họng

                                Học hàm, học vị: Thạc sĩ

                                Đang công tác khoa Mũi xoang – BV Tai mũi họng Tp.HCM
                            </p>

                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clearer"></div>


            </div>
            <div class="product-collateral">
                <div class="box-collateral box-description">
                    <h2>Mô tả chi tiết<span class="toggle"></span></h2>
                    <div class="box-collateral-content">
                        <div class="std">
                            <p style="white-space: pre-line;font-size: 17px;">
                                Phòng mạch Bác sĩ Hớn chuyên khám, tư vấn và điều trị các bệnh lý tai mũi họng như:

                                Bệnh lý về tai: Viêm tai ngoài, viêm tai giữa cấp, mãn, viêm xương chủm, viêm tai xương chũm …

                                Bệnh lý mũi xoang: Viêm mũi, viêm xoang cấp-mãn, polyp mũi – xoang, bất thường về cấu trúc mũi như vẹo vách ngăn, khối u vùng mũi xoang…

                                Bệnh lý về mũi họng: Viêm mũi họng, viêm amidan, VA…

                                Bệnh lý về thanh quản: polyp dây thanh, hạt dây thanh, liệt dây thanh, u nhú thanh quản…

                                Ho lâu ngày không khỏi, khó nuốt, đau họng, háo nước và khô miệng, tai u hoặc đau, nặng có thể gặp khó khăn trong việc nghe, ăn không ngon, sụt cân không rõ nguyên nhân, tuyến nước bọt viêm sưng

                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


