<div class="padding-s">


    <div id="messages_product_view"></div>
    <div class="page-title">
        <h1>Liên hệ</h1>
    </div>
    <div class="contact-block clearfix">
        <div class="contact-left">
            <h2>Địa chỉ</h2>
            <ul>
                <li>
                    <h3>Địa chỉ 1:</h3>
                    <p>Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn<br />48/4 Hồ Biểu Chánh,P.11, Q. Phú Nhuận </p>
                </li>
                <li>
                    <h3>Điện Thoại:</h3>
                    <p>0989 030 050</p>
                </li>

            </ul>
        </div>
        <div>
            <div class="fieldset">
                <h2 class="legend">Gửi thông tin</h2>
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <label class="required" for="name"><em>*</em>Tên</label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry form-control" value="" title="Name" id="name" name="name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="required" for="email"><em>*</em>Email</label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-email form-control" value="" title="Email" id="email" name="email">
                            </div>
                        </div>
                        <div class="field last">
                            <label for="telephone">Điện thoại</label>
                            <div class="input-box">
                                <input type="text" class="input-text form-control" value="" title="Telephone" id="telephone" name="telephone">
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <label class="required" for="comment"><em>*</em>Nội dung</label>
                        <div class="input-box">
                            <textarea rows="3" cols="5" class="required-entry input-text form-control" title="Comment" id="comment" name="comment"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="required">* Required Fields</p>
                <input type="text" style="display: none !important;" value="" id="hideit" name="hideit">
                <button class="button" title="Submit" type="submit"><span><span>Gửi</span></span></button>
            </div>
        </div>
    </div>

</div>
