<div class="row-cat">
    <div class="container">
        <ul class="row">
            <li class="col-sm-4">
                <a href="#">
                    <div class="row-cont cusrowcont">
                        <div class="row-title cusrowtitle">Vấn Đề Về Tai<br /></div>
                        <div class="row-desc"></div>

                    </div>
                </a>
            </li>
            <li class="col-sm-4 color-1">
                <a href="#">
                    <div class="row-cont cusrowcont">

                        <div class="row-title cusrowtitle">Vấn Đề Về Mũi<br /> </div>
                        <div class="row-desc"></div>

                    </div>
                </a>
            </li>
            <li class="col-sm-4 color-2">
                <a href="#">
                    <div class="row-cont cusrowcont">

                        <div class="row-title cusrowtitle">Vấn Đề Về Họng</div>

                        <div class="row-desc"></div>


                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
