
.blog-list li {margin-bottom: 50px; padding-bottom: 60px; border-bottom: 1px solid  #e3e3e3;}
.blog-list li:last-child {border: 0;}
.postWrapper {
    clear: both;
}

.postTitle {
    margin-bottom: 10px;
}

.postTitle h2 {
    font-size: 23px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
}

.postTitle h3 {
    font-size: 10px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
}
.postTitleTop {margin-top: 60px;}
.postContent {
    overflow: hidden;
}
.blog-list .postContent img { width: 22%;}
.postDetails {
    font-size: 13px;
    padding: 0 0 20px;
}
.postDetails a,
.postDetails-tags li a {}
.postDetails a:hover,
.postDetails-tags li a:hover {}
.postDetails i {
    margin-right: 3px;
}
.postDetails span {
    margin-right: 12px;
}
.aw-blog-read-more {
    display: table;
    font-size:21px;
    background: #31b041;
    color:#fff;
    padding:9px 22px 11px;
    margin: 18px 0 0;
}
.blog-bg .aw-blog-read-more { margin: 18px auto 0;}
.blog-bg .widget-latest-data {
    font-size: 21px; 
    line-height: 21px;
    overflow: hidden;
    margin-bottom: 16px;
    display: block;
}
.widget-latest-comment {
    display: inline-block;
     float: right;
     font-size: 17px;
     color: #a7a7a7;
     text-transform: uppercase;
     line-height: 23px;
 }
.widget-latest-comment i {color: #fbe103; font-size: 23px;}
.aw-blog-read-more span {position: relative;}
.aw-blog-read-more:hover,
.aw-blog-read-more:focus { 
    color: #fff; 
    background: #121212;
}
/* .aw-blog-read-more:after,
.aw-blog-read-more:before {
    background: none repeat scroll 0 0 #000;
    bottom: 50%;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 0%;
    z-index: -1;
}

.aw-blog-read-more:hover:after {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease 0s;
}
.aw-blog-read-more:hover:before {
    height: 0;
} */
.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #d6d6d6;
}
.commentWrapper:after {
    content: "";
    display: table;
    clear: both;
}
.commentWrapper i {
    font-size: 16px;
    margin-right: 5px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
   margin-bottom: 15px;
   font-size: 14px;
   text-transform: uppercase;
   color: #fe6868;
}
.commentDetails > span {

}
.commentDetails .postDetails-user {margin-right: 10px;}
.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {

}
.postDetails-tags h4 {
    display: none;
}
.postDetails-tags ul:before {
    content: "\f02b";
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 5px 9px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {

}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
    margin-bottom: 5px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {

}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {

}
.block-blog .block-subtitle,
.menu-tags h5 {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}


.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px;
}

.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}


.blog-bg {background: #fff; padding-bottom: 60px; text-align: center;}
.blog-bg .category-title {margin-bottom: 37px; text-align: left;}
.widget-latest-title {margin-bottom: 2px;}
.widget-latest-title a {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}

.widget-latest-title a:hover {color: #777;}
.blog-bg .postContent {
    line-height: 19px;
    padding: 0;
}
.widget-latest .postContent-desc {
    margin: 0; 
    overflow: hidden; 
    max-height: 66px; 
    font-size: 14px; 
    line-height: 23px; 
    color: #007ee1; 
    background: #fff; 
    font-weight: 300;
}
.widget-latest .postContent-desc img {display: none;}
.widget-latest .postContent-img p {display: none;}
.widget-latest .postContent-img { margin: 12px 0 13px; position: relative; text-align: center;}
.widget-latest .postContent img {
    position: relative; 
    margin-right: 0 !important; 
    float: none !important;
    max-width: 100%;
}
.blog-bg .img-hover {margin-bottom: 13px;}

.widget-latest-details {
    font-size: 13px; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 18px 23px 19px;
}
.widget-latest-details a {color: #fff; }
.widget-latest-details a:hover {text-decoration: underline;}
.widget-latest-details .widget-latest-data,
.widget-latest-details .widget-latest-comment {
    padding-right: 12px;
    display: inline-block;
}
.widget-latest-details i {margin-right: 5px; font-size: 20px; color: #c6a18c; vertical-align:sub;}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-bg .widget-latest-data {font-size: 16px;}
    .widget-latest-comment {font-size: 14px; clear: both;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-bg .widget-latest-data {display: block; margin-bottom: 7px;}
    .widget-latest-comment {float: none;}
    .aw-blog-read-more  {font-size: 14px; padding: 7px 15px;}
}

@media only screen and (max-width: 767px) { 
    .blog-list .postContent img { width: 30%;}
    .blog-bg {}
    .widget-latest .postContent img {width: 100%;}
    .widget-latest .row > li {margin: 15px; padding:15px; border: 1px solid #ccc; text-align: left;}
    .aw-blog-read-more {font-size: 16px; padding: 10px 20px;}
    .widget-latest-comment i {font-size: 15px;}
    .widget-latest .postContent-img {float: left; margin: 0 15px 0 0; width: 135px;}
    .blog-bg .widget-latest-data,
    .widget-latest-comment {font-size: 13px;}
    .blog-bg .aw-blog-read-more {float: right;}
    .widget-latest-comment {float: none; margin-left: 15px;}
    .widget-latest .postContent-desc {max-height: inherit; overflow: inherit;}
}