@using System.Configuration
@model IEnumerable<WebMVCPhongMach.Models.tbl_silde_PM>
<script>
    jQuery(function () {
        jQuery('#camera_wrap').camera({
            alignmen: 'topCenter',
            height: '29.16%',
            minHeight: '100px',
            loader: false,
            navigation: true,
            fx: 'simpleFade',
            navigationHover: false,
            thumbnails: false,
            playPause: false,
            pagination: false,
        });
    });
</script>


<div class="camera_wrap camera_orange_skin" id="camera_wrap">

    @foreach (var item in Model)
    {

        <div data-src='@ConfigurationManager.AppSettings["domain"]@item.Img_silde_PM.ToString().Split('_')[0]/@item.Img_silde_PM' data-link="#"></div>

    }


</div>


