@using System.Configuration
@model IEnumerable<WebMVCPhongMach.Models.tbl_silde_PM>



<div class="camera_wrap camera_orange_skin" id="camera_wrap">

    @foreach (var item in Model)
    {

        <div data-src='@ConfigurationManager.AppSettings["domain"]@item.Img_silde_PM.ToString().Split('_')[0]/@item.Img_silde_PM' data-link="#"></div>

    }


</div>
