@using WebMVCPhongMach.Models
<div class="row-cat">
    <div class="container">
        <ul class="row">
            <li class="col-sm-4">
                <a id="cusalick" href="@Url.Action("NewOrtherPaging", "NewOrther", new { id = ("Vấn Đề Về Tai").UrlFriendly()+"-"+ 1 }, "http")">
              
                    <div class="row-cont cusrowcont">
                        <div class="row-title cusrowtitle">Vấn Đề Về Tai<br /></div>
                        <div class="row-desc"></div>

                    </div>
                </a>
             
            </li>
            <li class="col-sm-4 color-1">
                <a id="vandemui" href="@Url.Action("NewOrtherPaging", "NewOrther", new { id = ("Vấn Đề Về Mũi").UrlFriendly() + "-" + 2 })">
                    <div class="row-cont cusrowcont">

                        <div class="row-title cusrowtitle">Vấn Đề Về Mũi<br /> </div>
                        <div class="row-desc"></div>

                    </div>
                </a>
               
            </li>
            <li class="col-sm-4 color-2">
                <a id="vandehong" href="@Url.Action("NewOrtherPaging", "NewOrther", new { id = ("Vấn Đề Về Họng").UrlFriendly() + "-" + 3 })">
                    <div class="row-cont cusrowcont">

                        <div class="row-title cusrowtitle">Vấn Đề Về Họng</div>

                        <div class="row-desc"></div>


                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

